<html>
<head>
	<title>タスク状況</title>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable([
            ['date' {{range $i, $v := .GraphHeader}},'{{$v}}'{{end}}],
            {{range $i, $v := .GraphValue}}
            ['{{$i}}'{{range $o, $data := $v}},{{$data}}{{end}} ],{{end}}
        ]);

        var options = {
          title: 'Company Performance',
          curveType: 'function',
          legend: { position: 'bottom' }
        };

        var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

        chart.draw(data, options);
      }
    </script>
    <script type="text/javascript">
        function ChangeTab(tabname) {
        // タブメニュー実装
        {{range $i, $v := .Records}}
        document.getElementById('{{$i}}').style.display = 'none';
        {{end}}
        // タブメニュー実装
        document.getElementById(tabname).style.display = 'block';
        }
    </script>
    <style type="text/css">
    /* ▼ タブメニュー全体の設定 */
    div.tabbox { margin: 15px 0 0 0; padding: 0px;}
    /* ▼ タブ部分のマージンとパディング領域を設定 */
    p.tabs { margin: 0px; padding: 0px; }
    p.tabs a {
        /* ▼ リンクをタブのように見せる */
        display: block; width: 100px; float: left;
        margin: 0px 3px 0px 0px; padding: 3px;
        text-align: center;
        font-size:12px;
    }
    /* ▼ タブごとの配色設定 */
     p.tabs a:hover {opacity:0.7;filter:alpha(opacity=70);}
    /* ▼ タブ中身のボックス */
    div.tab {
    /* ▼ ボックス共通の装飾 */
    height: 270px;  clear: left;
    }
    div.tab p { margin: 0.5em; }
    </style>
</head>
<body>
    <div class="tabbox">
        <p class="tabs">
            {{range $i, $v := .Records}}
            <a href="#{{$i}}" class="{{$i}}" onclick="ChangeTab('{{$i}}'); return false;">{{$i}}</a>
            {{end}}
        </p>
        {{range $i, $v := .Records}}
        <div id="{{$i}}" class="tab">
            <table>
                <tr>
                    <th bgcolor="#EE0000"><font color="#FFFFFF">タイトル</font></th>
                    <th bgcolor="#EE0000" ><font color="#FFFFFF">説明</font></th>
                    <th bgcolor="#EE0000" ><font color="#FFFFFF">削除</font></th>
                    <th bgcolor="#EE0000" ><font color="#FFFFFF"></font></th>
                    <th bgcolor="#EE0000" ><font color="#FFFFFF"></font></th>
                </tr>
                {{range $v}}
                <tr>
                    <td>{{.Title}}</td>
                    <td><a href="{{$.Url}}browse/{{.Key}}" target="_blank">{{.Key}}</a></td>
                    <td>{{.Project}}</td>
                    <td>{{.Assignee}}</td>
                    <td>{{.Status}}</td>
                </tr>
                {{end}}
            </table>
        </div>
        {{end}}
    </div>
    <div id="curve_chart" style="width: 900px; height: 500px"></div>
    <script type="text/javascript">
    ChangeTab('endo');
    </script>
</body>
</html>